.idea/
.vscode/
*.swp                 # Vim
*.swo                 # Vim
*~                    # Emacs
.DS_Store             # macOS Finder
Thumbs.db             # Windows Explorer

dist/

node_modules/
.nyc_output
coverage
yarn.lock


